WPF/ServerProcesses/Processes/Client/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWcf_StartProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:StartProcess" />
  </wsdl:message>
  <wsdl:message name="IServiceWcf_StartProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWcf_KillProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:KillProcess" />
  </wsdl:message>
  <wsdl:message name="IServiceWcf_KillProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:KillProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWcf_GetProcesses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcesses" />
  </wsdl:message>
  <wsdl:message name="IServiceWcf_GetProcesses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWcf">
    <wsdl:operation name="StartProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWcf/StartProcess" message="tns:IServiceWcf_StartProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWcf/StartProcessResponse" message="tns:IServiceWcf_StartProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KillProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWcf/KillProcess" message="tns:IServiceWcf_KillProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWcf/KillProcessResponse" message="tns:IServiceWcf_KillProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcesses">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWcf/GetProcesses" message="tns:IServiceWcf_GetProcesses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWcf/GetProcessesResponse" message="tns:IServiceWcf_GetProcesses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWcf" type="tns:IServiceWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartProcess">
      <soap:operation soapAction="http://tempuri.org/IServiceWcf/StartProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KillProcess">
      <soap:operation soapAction="http://tempuri.org/IServiceWcf/KillProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcesses">
      <soap:operation soapAction="http://tempuri.org/IServiceWcf/GetProcesses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWcf">
    <wsdl:port name="BasicHttpBinding_IServiceWcf" binding="tns:BasicHttpBinding_IServiceWcf">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/ServiceWcf/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>